* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

input{
  border-radius: 0;
  -webkit-appearance: none;
}

ul,
li {
  list-style: none;
}
